# Pull Alpaca API data for ARKK holdings

In [1]:
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
from datetime import datetime, timedelta

In [2]:
load_dotenv()

True

In [3]:
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

In [4]:
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [5]:
print(alpaca)

<alpaca_trade_api.rest.REST object at 0x000002C99C43DF08>

In [6]:
ARK_ETF = ["TSLA", "ROKU", "TDOC", "ZM", "COIN", "SQ", "SHOP", "U", "TWLO", "SPOT", "NTLA", "CRSP", "EXAS", "Z", "TWTR"]

#  pull data from Alpaca

In [7]:
timeframe = "1D"

In [8]:
start_date = pd.Timestamp("2020-06-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2021-08-10", tz="America/New_York").isoformat()

In [10]:
today = datetime.now()
startdate = today - timedelta(days=3*365) # artificially creates 3 years

In [11]:
# this is to convert the datetime format to the pd.Timestamp that alpaca api likes
end_date = pd.Timestamp(today.strftime("%Y-%m-%d"), tz="America/New_York").isoformat()
start_date = pd.Timestamp(startdate.strftime("%Y-%m-%d"), tz="America/New_York").isoformat()

# in C, variables are represented with "static" types, each variable type has a different format symbol
# format symbols start with %d, %f, %s, %h, ...

In [12]:
ARK_ETF_portfolio = alpaca.get_barset(
    ARK_ETF,
    timeframe,
    start = start_date,
    end = end_date
).df

In [13]:
ARK_ETF_portfolio.head()

                          COIN                            CRSP          \
                          open high low close volume      open    high
time
2021-03-19 00:00:00-04:00  NaN  NaN NaN   NaN    NaN  123.9100  129.99
2021-03-22 00:00:00-04:00  NaN  NaN NaN   NaN    NaN  130.6738  135.25
2021-03-23 00:00:00-04:00  NaN  NaN NaN   NaN    NaN  132.4000  132.10
2021-03-24 00:00:00-04:00  NaN  NaN NaN   NaN    NaN  126.8200  127.75
2021-03-25 00:00:00-04:00  NaN  NaN NaN   NaN    NaN  110.9900  115.96

                                                    ...       Z            \
                              low   close   volume  ...    open      high
time                                                ...
2021-03-19 00:00:00-04:00  122.64  129.68  1480140  ...  132.35  136.2300
2021-03-22 00:00:00-04:00  128.28  133.00  1179312  ...  137.90  139.9300
2021-03-23 00:00:00-04:00  124.21  126.57  1741323  ...  137.95  139.1600
2021-03-24 00:00:00-04:00  114.31  115.44  2081898  ...  136.49  136.6500
2021-03-25 00:00:00-04:00  107.52  114.65  2248990  ...  122.81  127.5799

                                                          ZM            \
                                low   close   volume    open      high
time
2021-03-19 00:00:00-04:00  129.2600  134.62  2603110  316.83  327.9773
2021-03-22 00:00:00-04:00  134.8921  137.95  1869668  329.45  333.8899
2021-03-23 00:00:00-04:00  132.6801  134.48  1711711  330.65  347.4000
2021-03-24 00:00:00-04:00  126.3200  127.34  2862724  338.05  339.9900
2021-03-25 00:00:00-04:00  120.2200  124.92  4615800  311.70  320.6300


                                low   close   volume
time
2021-03-19 00:00:00-04:00  313.6300  326.51  3729686
2021-03-22 00:00:00-04:00  327.0100  328.43  2644747
2021-03-23 00:00:00-04:00  329.3523  339.53  5091320
2021-03-24 00:00:00-04:00  314.3504  315.01  4584060
2021-03-25 00:00:00-04:00  308.3100  314.87  3203703

[5 rows x 75 columns]