# Pull Alpaca API data for ARKK holdings

In [1]:
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
from datetime import datetime, timedelta

In [2]:
load_dotenv()

True

In [3]:
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

In [4]:
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [5]:
print(alpaca)

<alpaca_trade_api.rest.REST object at 0x000001440A146208>

## ARK ETF - Alpaca Data Pull

In [6]:
ARK_ETF = ["TSLA", "ROKU", "TDOC", "ZM", "COIN", "SQ", "SHOP", "U", "TWLO", "SPOT", "NTLA", "CRSP", "EXAS", "Z", "TWTR"]

In [7]:
timeframe = "1D"

In [8]:
start_date = pd.Timestamp("2018-08-10", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2021-08-10", tz="America/New_York").isoformat()

In [9]:
 ## This code artificially creates 3 years -- could replace code in line 8 --

In [10]:
today = datetime.now()
startdate = today - timedelta(days=3*365)

In [11]:
# this is to convert the datetime format to the pd.Timestamp that alpaca api syntax requirement

In [12]:
end_date = pd.Timestamp(today.strftime("%Y-%m-%d"), tz="America/New_York").isoformat()
start_date = pd.Timestamp(startdate.strftime("%Y-%m-%d"), tz="America/New_York").isoformat()

In [13]:
ARK_ETF_portfolio = alpaca.get_barset(
    ARK_ETF,
    timeframe,
    start = start_date,
    end = end_date
).df

In [14]:
ARK_ETF_portfolio.head()

                          COIN                            CRSP          \
                          open high low close volume      open    high
time
2021-03-19 00:00:00-04:00  NaN  NaN NaN   NaN    NaN  123.9100  129.99
2021-03-22 00:00:00-04:00  NaN  NaN NaN   NaN    NaN  130.6738  135.25
2021-03-23 00:00:00-04:00  NaN  NaN NaN   NaN    NaN  132.4000  132.10
2021-03-24 00:00:00-04:00  NaN  NaN NaN   NaN    NaN  126.8200  127.75
2021-03-25 00:00:00-04:00  NaN  NaN NaN   NaN    NaN  110.9900  115.96

                                                    ...       Z            \
                              low   close   volume  ...    open      high
time                                                ...
2021-03-19 00:00:00-04:00  122.64  129.68  1480140  ...  132.35  136.2300
2021-03-22 00:00:00-04:00  128.28  133.00  1179312  ...  137.90  139.9300
2021-03-23 00:00:00-04:00  124.21  126.47  1741040  ...  137.95  139.1600
2021-03-24 00:00:00-04:00  114.31  115.44  2081712  ...  136.49  136.6500
2021-03-25 00:00:00-04:00  107.52  114.63  2250750  ...  122.81  127.5799

                                                          ZM            \
                                low   close   volume    open      high
time
2021-03-19 00:00:00-04:00  129.2600  134.62  2603110  316.83  327.9773
2021-03-22 00:00:00-04:00  134.8921  137.95  1869668  329.45  333.8899
2021-03-23 00:00:00-04:00  132.6801  134.48  1711711  330.65  347.4000
2021-03-24 00:00:00-04:00  126.3200  127.34  2862813  338.05  339.9900
2021-03-25 00:00:00-04:00  120.2200  124.92  4621375  311.70  320.6300


                                low   close   volume
time
2021-03-19 00:00:00-04:00  313.6300  326.51  3729686
2021-03-22 00:00:00-04:00  327.0100  328.43  2644747
2021-03-23 00:00:00-04:00  329.3523  339.53  5091321
2021-03-24 00:00:00-04:00  314.3504  315.01  4585204
2021-03-25 00:00:00-04:00  308.3100  314.87  3206672

[5 rows x 75 columns]

In [15]:
## saving ARK_ETF_portfolio to csv

In [16]:
ARK_ETF_portfolio.to_csv("Ark_ETF.csv")

### Competitors - Alpaca Data Pull

In [17]:
competitors_df = ["NIO", "NFLX", "AMWL", "MSFT", "MSTR", "PYPL", "CRM", "ATVI", "VG", "TTD", "IONS", "NVAX", "AMGN", "RDFN", "SNAP"]

In [18]:
timeframe = "1D"

In [19]:
start_date = pd.Timestamp("2018-08-10", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2021-08-10", tz="America/New_York").isoformat()

In [20]:
 ## This code artificially creates 3 years -- could replace code in line 16 --

In [21]:
today = datetime.now()
startdate = today - timedelta(days=3*365)

In [22]:
end_date = pd.Timestamp(today.strftime("%Y-%m-%d"), tz="America/New_York").isoformat()
start_date = pd.Timestamp(startdate.strftime("%Y-%m-%d"), tz="America/New_York").isoformat()

In [23]:
competitors_list = alpaca.get_barset(
    competitors_df,
    timeframe,
    start = start_date,
    end = end_date
).df

In [24]:
competitors_list.head()

                             AMGN                                     AMWL  \
                             open     high     low   close   volume   open
time
2021-03-19 00:00:00-04:00  245.74  247.400  241.63  245.53  3194295  19.75
2021-03-22 00:00:00-04:00  242.36  249.770  242.36  249.75  1448804  20.51
2021-03-23 00:00:00-04:00  249.99  250.000  244.90  245.04  1997307  19.37
2021-03-24 00:00:00-04:00  244.30  247.389  243.82  245.65  1788083  19.00
2021-03-25 00:00:00-04:00  247.03  247.540  244.98  246.25  1701692  16.54

                                                            ...       TTD  \
                              high    low  close    volume  ...      open
time                                                        ...
2021-03-19 00:00:00-04:00  20.6300  19.35  20.53   5371516  ...  705.0000
2021-03-22 00:00:00-04:00  20.5900  19.30  19.33   3770397  ...  742.2543
2021-03-23 00:00:00-04:00  19.5500  18.47  19.01   5567557  ...  742.1300
2021-03-24 00:00:00-04:00  19.0299  18.02  18.57   5093980  ...  725.0000
2021-03-25 00:00:00-04:00  18.3600  15.53  18.24  12691637  ...  653.0000

                                                                  VG          \
                               high      low   close   volume   open    high
time
2021-03-19 00:00:00-04:00  738.0000  697.010  733.31   663578  11.82  12.120
2021-03-22 00:00:00-04:00  752.9900  729.140  741.14   515164  12.15  12.150
2021-03-23 00:00:00-04:00  750.0000  715.550  724.05   420397  11.89  11.940
2021-03-24 00:00:00-04:00  725.4447  662.855  666.83   788430  11.69  11.840
2021-03-25 00:00:00-04:00  665.4200  632.000  653.24  1113815  10.92  11.555


                              low   close   volume
time
2021-03-19 00:00:00-04:00  11.710  12.050  3541069
2021-03-22 00:00:00-04:00  11.880  11.900  2237640
2021-03-23 00:00:00-04:00  11.585  11.650  2442036
2021-03-24 00:00:00-04:00  11.020  11.050  3334004
2021-03-25 00:00:00-04:00  10.850  11.495  3015262

[5 rows x 75 columns]

In [25]:
## saving competitors_portfolio to csv

In [26]:
competitors_list.to_csv("competitors_list.csv")